.layout {
  position: relative;

  width: 1440rem;
  height: 1056rem;
  background-color: #F7F8FA;

  .sider {
    position: absolute;
    left: 0;
    top: 0;

    background-color: #FFFFFF;
  }

  .guide {
    position: absolute;
    // background-color: #D8D8D8;
    left: 293rem;
    top: 14rem;
    width: 1119rem;
    height: 179rem;
  }

  .header {
    position: absolute;
    left: 240rem;
    top: 0;
  }

  .content {
    position: absolute;
    left: 240rem;
    top: 72rem;

    width: 1200rem;
    height: 984rem;
  }
}