.layout {
  position: relative;

  width: 1440rem;
  height: 1056rem;
  background-color: #F7F8FA;

  .sider {
    position: absolute;
    left: 0;
    top: 0;

    background-color: #FFFFFF;
  }

  .main {
    position: absolute;
    left: 240rem;
    top: 0;

    width: 1200rem;
    height: 1056rem;

    border: 1rem solid #D8D8D8;
  }
}