.__content {
  position: relative;
  // width: 1200rem;
  // height: 984rem;
  width: 100%;
  height: 100%;


  &_empty_svg {
    position: absolute;
    left: 50%;
    top: 318rem;
    transform: translate(-50%);

    padding-left: 24rem;

    width: 184rem;
    height: 152rem;

    svg {
      width: 184rem;
      height: 152rem;
    }
  }

  &_empty_span {
    position: absolute;
    left: 50%;
    top: 480rem;
    transform: translate(-50%);

    margin-left: 12rem;

    width: 89rem;
    height: 22rem;

    font-size: 14rem;
    font-weight: normal;
    line-height: 22rem;
    display: inline-block;
    letter-spacing: 0;

    font-feature-settings: "kern" on;
    color: #979797;
  }
}