.__button_wrapper {
  padding: 5rem 16rem;
  width: 100%;
  height: 100%;

  outline: none;
  border: 0;
  border-radius: 5rem;
  cursor: pointer;

  button {
    font-size: 14rem;
    font-weight: normal;
    line-height: 22rem;
  }
}