.__workspace_settings {
  position: relative;
  width: 100%;
  height: 100%;

  &_container {
    position: absolute;
    left: 40rem;
    top: 34rem;

    &_input {
      margin-top: 18rem;
      width: 354rem;
    }
  }

  &_delbtn {
    position: absolute;
    left: 41rem;
    bottom: 13rem;

    width: 114rem;
    height: 32rem;
  }
}

._delete {
  &_tips {
    position: absolute;
    left: 26rem;
    top: 65rem;

    width: fit-content;
    height: 79rem;

    &_bef {
      span {
        &:nth-child(1) {
          font-weight: 400;
          font-size: 12rem;
        }

        &:nth-child(3) {
          font-weight: 700;
          font-size: 12rem;
        }
      }
    }

    &_pls {
      margin-top: 26rem;

      span {
        font-weight: 400;
        font-size: 12rem;
      }
    }
  }

  &_spell {
    position: absolute;
    left: 27rem;
    top: 168rem;

    width: 275rem;
  }

  &_btn_group {
    position: absolute;
    left: 248rem;
    top: 207rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    &_cancel {
      width: 106rem;
      height: 32rem;
    }

    &_confirm {
      margin-left: 9rem;
      width: 106rem;
      height: 32rem;

      button {
        &:disabled {
          background: rgba(255, 77, 79, 0.5);
        }
      }
    }
  }
}