.__cusr {

  &_header {
    position: absolute;
    left: 0;
    top: 0;
  }

  &_content {
    position: absolute;
    left: 44rem;
    top: 93rem;

    width: 1132rem;
    height: 927rem;

    background-color: #FFFFFF;
    border-radius: 0px 0px 6px 6px;
  }
}