.__popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  padding: 12rem 40rem 32rem 40rem;
  width: auto;
  height: max-content;
  display: flex;
  flex-direction: column;


  border-radius: 4rem;
  background: #FFFFFF;
  z-index: 1010;

  box-shadow: 0rem 6rem 30rem 5rem rgba(128, 160, 194, 0.05),
    0rem 16rem 24rem 2rem rgba(128, 160, 194, 0.1),
    0rem 8rem 10rem -5rem rgba(128, 160, 194, 0.08);

  &_wrapper {
    padding-top: 20rem;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 24rem;

    &_close {
      position: absolute;
      right: 12rem;
      top: 12rem;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 16rem;
      height: 16rem;
      z-index: 1099;
      cursor: pointer;

      svg {
        width: 100%;
        height: 100%;
        fill: rgba(0, 0, 0, 0.4);
      }
    }
  }
}