.__ryp {

  &_title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0rem;

    color: #1D2129;

    span {

      padding: 0 15rem;
      display: block;

      width: fit-content;
      font-size: 16rem;
      font-weight: 500;
      line-height: 24rem;

      background-color: #fff;
    }

    &_divider {
      position: absolute;
      width: 400rem;
      height: 0rem;
      opacity: 1;
      border: 1rem solid #E7E7E7;
      z-index: -1;
    }
  }

  &_form {
    padding: 0;
    gap: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_input {
      position: relative;
      width: 400rem;
      height: 66rem;

      &_send {
        position: absolute;
        right: 0;
        top: 30rem;
        height: 36rem;

        cursor: pointer;

        button {
          width: fit-content;
          height: 100%;
          border-radius: 0 5rem 5rem 0;
          // color: #FFFFFF;
          // background-color: #165DFF;

          transition: .3s;

          // &:disabled {
          //   background-color: rgba(22, 93, 255, 0.5);
          // }
        }
      }
    }

    &_continue {
      width: 400rem;
      height: fit-content;

      button {
        height: 36rem;
        // background-color: #165DFF;
        // color: #FFFFFF;

        // &:disabled {
        //   background-color: rgba(22, 93, 255, 0.5);
        // }
      }
    }
  }

}