.__sider {
  position: relative;
  width: 240rem;
  height: 1056rem;

  &_head {
    position: absolute;
    left: 0;
    top: 0;

    width: 240rem;
    height: 60rem;
  }

  &_menu_c {
    position: absolute;
    left: 0;
    top: 72rem;
  }

  &_menu_f {
    position: absolute;
    left: 25rem;
    // top: 871rem;
    bottom: 101rem;
  }

  &_usr_info {
    position: absolute;
    left: 36rem;
    bottom: 51rem;

    min-width: 34rem;
    height: 34rem;

    display: flex;
    align-items: center;

    cursor: pointer;

    user-select: none;
    &_name {
      margin-left: 4rem;

      width: 45rem;
      height: 22rem;

      font-size: 14rem;
      font-weight: normal;
      line-height: 22rem;
    }

    &_ms {
      position: absolute;
      left: 127rem;
      top: 958rem;

      width: max-content;
      height: max-content;
    }
  }
}