.ctr {
  /* AI原生 打造应用开发新范式 */
  position: absolute;
  font-weight: normal;
  line-height: normal;
  display: flex;
  flex-direction: column;
  letter-spacing: 0em;
  .p{
    &__title {

      // position: absolute;
      // left: 95rem;
      // top: 0rem;
      // width: 84rem;
      height: 32rem;
      opacity: 1;
        
      font-family: Poppins;
      font-size: 21rem;
      font-weight: bold;
      line-height: normal;
      letter-spacing: 0em;
        
      color: #333333;
	
    }
    &__content {
      // position: absolute;
      // left: 95rem;
      // top: 52rem;
      margin-top: 20rem;
      width: 380rem;
      // height: 52rem;
      opacity: 1;
        
      font-family: Poppins;
      font-size: 17rem;
      font-weight: normal;
      line-height: normal;
      letter-spacing: 0em;
        
      color: #5A5A5A;
	
    }
  }
}
