.__applicationbox {
  position: relative;
  width: 368rem;
  height: 149rem;
  border-radius: 4rem;

  background: #FFFFFF;
  border: 1rem solid #E7E7E7;
  box-shadow: 0rem 2rem 8rem 1rem rgba(178, 206, 238, 0.24);

  &_head {
    &_icon {}

    &_name {}

    &_label {}
  }

  &_main {
    &_desc {}
  }

  &_foot {
    &_edit {}

    &_preview {}

    &_more {}
  }
}