.__sws {
  position: absolute;
  left: 14rem;
  top: 15rem;

  width: 221rem;
  height: 30rem;

  display: flex;
  align-items: center;

  &_title {
    margin-left: 5rem;
    width: 150rem;
    height: 100%;
    font-size: 16rem;
    line-height: 32rem;
    letter-spacing: 0rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_switch {
    position: absolute;
    right: 14rem;

    width: 15rem;
    height: 15rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    svg {
      width: 71.88%;
      height: 68.75%;

      fill: rgba(0, 0, 0, 0.45);
    }
  }
}