.__workspace_developers {
  position: absolute;
  left: 20rem;
  top: 20rem;

  width: 1049rem;
  height: 580rem;

  &_tools {
    display: flex;
    flex-direction: row;
    align-items: center;

    &_addbtn {
      width: 134rem;
      height: 32rem;
    }

    &_searchline {
      margin-left: 24rem;
      width: 240rem;
      height: 32rem;
    }
  }

  &_container {
    margin-top: 16rem;
    width: 1049rem;
    height: fit-content;

    border: 1rem solid #000000;

    &_remove {
      width: fit-content;
      height: fit-content;

      button {
        padding: 0;
      }
    }
  }

  &_pagenation {
    position: absolute;
    right: 0rem;
    bottom: 20rem;

    width: 300rem;
    height: 40rem;

    border: 1rem solid #000000;
  }
}