.__header {
  width: 1200rem;
  height: 72rem;

  &_toolg {
    position: absolute;
    left: 53rem;
    top: 35rem;

    // width: ;
    height: 32rem;

    display: flex;
    align-items: center;

    &_btn {
      width: 76rem;
      height: 28rem;

      button {
        background-color: #1677FF;
        color: #fff;
      }
    }

    &_searchline {
      margin-left: 30rem;

      width: 240rem;
      height: 32rem;
    }
  }
}