.__blank {
  position: relative;
  width: 100%;
  height: 100%;
  // width: 1123rem;
  // height: 1003rem;
  border-radius: 4rem;
  background-color: #FFFFFF;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  line-height: 35px;
  text-align: center;

  color: #3D3D3D;

  &_wrapper {
    width: fit-content;
    height: 240rem;
  }

  &_svg {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 120rem;
    height: 120rem;
  }

  &_title {
    position: relative;
    top: 8rem;
    font-weight: 700;
    font-size: 18rem;
  }

  &_tips {
    position: relative;
    top: 4rem;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    text-align: center;
    display: flex;
    align-items: center;
    letter-spacing: 0px;

    color: rgba(0, 0, 0, 0.6);
  }

  &_btn {
    position: relative;
    left: 50%;
    top: 24rem;
    transform: translateX(-50%);

    width: 89rem;
    height: 36rem;
    border-radius: 5rem;
  }
}