.__input_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8rem;

  &_title {
    font-size: 14rem;
    font-weight: normal;
    line-height: 22rem;

    span {
      margin-left: 5rem;
      color: #FF4D4F;
    }
  }

  &_main {
    position: relative;
    width: 100%;
    height: 100%;

    input {
      padding: 0 12rem;

      width: 100%;
      height: 100%;

      font-size: 14rem;
      font-weight: normal;
      line-height: 22rem;
      display: flex;
      align-items: center;

      border-radius: 5rem;
      outline: none;
      border: 1rem solid #D8D8D8;

      &:disabled {
        background-color: #FFFFFF;
      }
    }

    &_show {
      position: absolute;
      right: 11rem;
      top: 50%;
      transform: translateY(-50%);
      width: 16rem;
      height: 16rem;
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;

      svg {
        width: 72.92%;
        fill: rgba(0, 0, 0, 0.6);
      }
    }
  }

  &_invalid {
    position: absolute;
    bottom: -25rem;
    z-index: 0;

    font-size: 14rem;
    font-weight: normal;
    line-height: 22rem;
    color: #FF4D4F;

    visibility: hidden;
    opacity: 0;

    transition: .3s;
  }
}

.invalid {
  visibility: visible;
  opacity: 1;
}